.cabecalho {
    background-color: var(--background-tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 24px;
    position: relative;
}

.Logo_mobile {
    width: 68px;
    height: 64px;
}

.Logo_desktop {
    display: none;
}

.menu {
    display: none;
}

input[type="checkbox"]:checked~.menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(19, 18, 18);
    width: 100%;
}

/* Links em linha quando menu estiver aberto */
input[type="checkbox"]:checked~.menu ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu li {
    list-style: none;
}

.menu a {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
}

.menu-humburguer {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .menu-humburguer label {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu ul {
        display: flex;
        gap: 40px;
    }

    .menu a {
        font-size: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        padding: 37px 120px;
    }

    .Logo_mobile {
        display: none;
    }

    .Logo_desktop {
        display: block;
        width: 260px;
        height: 64px;
    }

    .menu a:hover {
        color: var(--primary-color);
        text-decoration: underline;
    }
}

@media screen and (min-width: 1990px) {
    .cabecalho {
        padding: 37px 165px;
    }
}